.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 30px 15% 0;
    gap: 30px;
}

@media (max-width: 768px) {
    .page {
        margin: 30px 5% 0;
    }
}