.cardContent {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.textContent {
  flex: 1;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px
}

.image {
  border-radius: 50%;
  border: 2.5px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.location {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 10px;
  font-size: 1.3rem;
}

.lowerSection {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  justify-content: evenly;
}

.lowerSection h3 {
  font-size: 2.5rem;
}

.interestsSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .cardContent {
    flex-direction: column; 
  }

  .textContent,
  .imageContainer {
    width: 100%; 
  }

  .imageContainer {
    padding-bottom: 30px;
  }

  .image {
    width: 250px;
    height: 250px;
  }
}