/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_page__ZU32B {
  height: 100vh;
}

.page_cardContent__aU4Di {
  display: flex;
  flex-direction: row; 
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.page_textContent__l4FAI {
  flex: 1;
}

.page_imageContainer__gQbWL {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center; 
}

.page_image__NPJyO {
  border-radius: 50%; 
  border: 2.5px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  -o-object-fit: cover;
     object-fit: cover;
}

.page_location__LXEDd {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 10px;
  font-size: 1.1rem;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/social-links/social-links.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
.social-links_links__zZNEC {
    display: flex;
    gap: 20px;
}

.social-links_links__zZNEC a {
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-links_links__zZNEC a:hover {
    transform: scale(1.2) rotate(10deg); 
    color: gray; 
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/components/pagebody/pagebody.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.pagebody_page__8EXW1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 30px 15% 0;
    gap: 30px;
}
